* {
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  font-size: 62.5%;
}

.viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 80rem;
  image-rendering: pixelated;
  overflow: hidden;
  background: url('/src/assets/images/background.png');
  background-size: cover;
  /*background: linear-gradient(0deg, #d2e3ff 50%, #80acff);*/
}

.logo {
  top: 2rem;
  left: 2rem;
  width: 45rem;
  z-index: 1;
  position: absolute;
}
